.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.kaohsiung {
	background-image: url("./bkg/kaohsiung.jpg");
}
.taipei {
	background-image: url("./bkg/taipei.jpg");
}
.metro {
	background-image: url("./bkg/metro.jpg");
}