.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  /* need this line for bkg img to stay fixed with scrolling */
  overflow-y: auto;
}