.wrapper {
	height: 180px;
	/*border: 2px solid red;*/
}

.img-collapse-card {
	composes: card from './Card.css';
	/*border-radius: 4px;*/
	/*max-height: 250px;*/
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.img {
	width: 100%;
	height: 105px;
}

.img:hover, .content:hover {
	cursor: pointer;
}

.content {
	/*display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;*/
	height: 100px;
	background-color: #eee;
	padding: 20px;
	font-size: 12px;
}

 .subtext {
 	height: 55px;
 	text-align: center;
 	background-color: #ddd;
	padding: 8px;
 }

 .btn-img {
 	width: 22px;
 }